#footer {
    /* background-image: url("../img/smpte_chef-wards.gif"); */
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
}

#footer .header {
    display: flex;
    flex-direction: column;
    row-gap: 3vmin;
}

#footer .header .h2 {
    text-align: center;
    font-size: max(36px, 12vmin);
    font-weight: 100;
    line-height: 1;
}

#footer .header a {
    align-self: center;
}

#footer .header button {
    color: var(--dark);
    padding: 4vmin 6vmin;
    border-radius: 50px;
    font-size: min(4vw, 21.36px);
    cursor: pointer;
}

#footer .footer {
    width: calc(100vw - 10vmin);
    position: absolute;
    bottom: 5vmin;
    left: 5vmin;
    display: flex;
    justify-content: space-between;
}

#footer .header {
    transform-style: preserve-3d;
    perspective: 3000px;
    /* background-color: rebeccapurple; */
}
