#hero {
    align-items: flex-start;
    width: 100vw;
}

#hero .wrapper {
    position: relative;
    width: inherit;
    padding: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#hero video.background {
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80%;
    object-fit: cover;
    z-index: -3;
    filter: blur(50px);
    clip-path: polygon(var(--star));
}

#hero .vignette {
    position: absolute;
    inset: 0;
    z-index: -1;
}

#hero .star-mask {
    position: absolute;
    inset: 0;
    clip-path: polygon(var(--star));
    filter: blur(1000px);
    z-index: -2;
    will-change: clip-path, transform, filter;
}


#hero .arcade-font {
    font-family: "Press Start 2P", sans-serif;
    text-shadow: -1px 0px 0px red, 1px 0px 0px cyan; 
    font-size: 18px;
    align-self: flex-start;
}

#hero .bi {
    font-size: 28px;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#hero .header {
    align-self: center;
    width: 67vmin;
    max-width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero svg {
    filter: drop-shadow(0 0 0 5px var(--black)); 
}

#hero .arcade-container {
    width: 50%;
    height: inherit;
    position: absolute;
    inset: 0;
    padding: 5vmin;
    display: flex;
}

#hero .carousel {
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 20vh;
    background: rgb(78 46 111/70%);
}

#hero .p {
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    width: min(90vmin, 400px);
    height: fit-content;
    /* background: rgb(78 46 111/70%); */
}