#hero {
    align-items: flex-start;
    width: 100vw;
}

#hero .wrapper {
    position: relative;
    width: inherit;
    padding: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#hero video.background {
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80%;
    object-fit: cover;
    z-index: -3;
    filter: blur(50px);
    clip-path: polygon(var(--star));
}

#hero .arcade-font {
    font-family: "Press Start 2P", sans-serif;
    text-shadow: -1px 0px 0px red, 1px 0px 0px cyan; 
    font-size: 18px;
    align-self: flex-start;
}

#hero .header {
    align-self: center;
    width: 67vmin;
    max-width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero svg {
    filter: drop-shadow(0 0 0 5px var(--black)); 
}

#hero .arcade-container {
    width: 50%;
    height: inherit;
    position: absolute;
    inset: 0;
    padding: 5vmin;
    display: flex;
}

#hero .carousel {
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    overflow:hidden;
    z-index: -2;
}